---
import Layout from "@/components/layout.astro";
---

<Layout
  minutesRead="ðŸ€"
  title="Computer Club Blog"
  description="A collection of articles about computer related thing."
>
  <h1>Welcome to our school's vibrant computer club newsletter!</h1>
  <p>
    Get ready to explore the dynamic world of technology and innovation with us. 
    Our newsletter is designed to bring together students passionate about computer science and technology, fostering a sense of community and providing opportunities for skill development.  
  </p>

  <p>
    Join us as we showcase the talent and creativity of our school's tech enthusiasts, share exciting updates, and embark on learning journeys together.
    Welcome aboard our tech adventure!
  </p>

</Layout>
